<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Horoscope</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>{{ sign|default("Your") }} Horoscope</h1>
        
        {% if horoscope %}
            <p>{{ horoscope }}</p>
        {% else %}
            <p>No horoscope data available.</p>
        {% endif %}

        <a href="/select-sign"> Choose Another Sign</a>
    </body>
</html>