<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Summit Weather App</title>
    </head>
    <body>
        <header>
            <h1>Summit</h1>
            <nav>
                <button></button>
            </nav>
        </header>

        <main>
            <section>
                <form>
                    <label for="location1">Enter Your Location: </label>
                    <input type="text" id="location1"
                    <button type="submit"</button>
                </form>
            </section>
        </main>
        
    </body>
</html>
