<!--Layout hs the doctype html stuff so we don't need them for any other html page-->
<body>
{% extends "layout.html"    }

{% block title %}Login - Summit Weather{% endblock %}

{% block  content %}
 <h2>Login to your Summit Weather account</h2>

    <form method="POST">
        <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control"><br><br>
        </div>

        <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Log In </button>
    </form>

    <p>Don't have an Account? <a href="{{ url_for('main.register') }}">Register here</a></p>
    {% endblock %}
</body>
</html>