<!--Layout hs the doctype html stuff so we don't need them for any other html page-->
<body>
{% extends "layout.html" %}

{% block title %}Register - Summit Weather{% endblock %}

{% block content %}

<h2>Register for Summit Weather</h2>
<form method="post">
<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" required>
</div>

<div class="mb-3">
    <label for="password" class="form-label">Password </label>
    <input type="password" name="password" class="form-control" required>
    <div id="password-feedback" class="form-text text-danger mt-1"></div>
    </div>   
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>

<p class="mt-3">Already have an Account <a href="{{ url_for('main.login')  }}">Log in</a></p>
<script>
    document.querySelector("input[name='password']").addEventListener("input", function(){
       const password = this.value;
       const feedback = document.getElementById("password-feedback");
       let messages = [];

       if (password.length < 8) {
            messages.push("Password needs at least 8 characters");}
       if (!/[a-zA-Z]/.test(password)){
            messages.push("Password needs at least one letter")}
        if (!/\d/.test(password)){
            messages.push("Password needs at least one number")}
        if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)){
            messages.push("Password needs at least one speical character")}
        
        feedback.innerHTML = messages.length > 0
        ? "Password must include: " + messages.join(", ")
        : "";
    });
</script>
{% endblock %}
</body>
</html>